<div class="w-75 p-3" style="background-color: #eee;">
    <h1>책 등록</h1>
    <form action="/books/search" method = "post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group">
            ISBN:<input type="text" class="form-control" name= "ISBN" require= true><br>
            <button type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>
</div>